<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="S3" class="com.arkansasconsulting.s3logback.S3Appender">
        <accessKey>${S3_ACCESS_KEY}</accessKey>
        <secretKey>${S3_SECRET_KEY}</secretKey>
        <region>${AWS_REGION}</region>
        <bucketName>${S3_BUCKET}</bucketName>
        <s3FolderName>logs</s3FolderName>
        <fileName>${LOGSTASH_HOSTNAME}-${LOGSTASH_PID}.log</fileName>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="S3"/>
    </root>
</configuration>